.app {
  margin: 0 auto;
}

.form {
  margin: 5% 10% 2% 10%;
}
.list {
  margin: 0% 10%;
}

.box {
  padding: 10px;
  border: 1px solid #ddd;
  /* width: fit-content; */
  margin: 10px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box:hover {
  border: 1px solid rgb(124, 124, 124);
  cursor: pointer;
}
input#input {
  width: 50%;
  height: 5vh;
}

.submit {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #7c9ff7;
  border: none;
  color: #fff;
}
.submit:hover {
  background-color: #0f4de9;
  cursor: pointer;
}
